@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import '@mantine/core/styles.css';

@source "../src";

@theme {
  --color-brand-base: hsl(111, 53%, 24%);
  --color-brand-50: hsl(from var(--color-brand-base) h s calc(l + 52));
  --color-brand-100: hsl(from var(--color-brand-base) h s calc(l + 42));
  --color-brand-200: hsl(from var(--color-brand-base) h s calc(l + 32));
  --color-brand-300: hsl(from var(--color-brand-base) h s calc(l + 22));
  --color-brand-400: hsl(from var(--color-brand-base) h s calc(l + 12));
  --color-brand-500: hsl(from var(--color-brand-base) h s calc(l + 2));
  --color-brand-600: hsl(from var(--color-brand-base) h s calc(l - 8));
  --color-brand-700: hsl(from var(--color-brand-base) h s calc(l - 18));
  --color-brand-800: hsl(from var(--color-brand-base) h s calc(l - 28));
  --color-brand-900: hsl(from var(--color-brand-base) h s calc(l - 38));

  --ccc: var(--color-brand-200);

  --font-inter: "Inter", sans-serif;
}

@custom-variant dark (&:where([data-mantine-color-scheme=dark], [data-mantine-color-scheme=dark] *));
